## 1. Data Cleaning ##
#### COVID-19 Data ####

In [170]:
# Import modules
import pandas as pd
import numpy as np

# Create data frame
covid_df = pd.read_csv('data/global-covid.csv', index_col=0)

# Remove unnecessary columns
col_to_drop = ['NewCases', 'NewDeaths', 'TotalRecovered', 'NewRecovered', 'ActiveCases', 'Serious,Critical', 'Tot Cases/1M pop', 'Deaths/1M pop', 'TotalTests', 'Tests/1M pop', 'WHO Region']
covid_df.drop(columns=col_to_drop, inplace=True)

# Remove Diamond Princess column
covid_df.drop('Diamond Princess')

# Create a data frame for each continent
na_covid_df = covid_df[covid_df.Continent == 'North America']
sa_covid_df = covid_df[covid_df.Continent == 'South America']
asia_covid_df = covid_df[covid_df.Continent == 'Asia']
europe_covid_df = covid_df[covid_df.Continent == 'Europe']
africa_covid_df = covid_df[covid_df.Continent == 'Africa']
aus_covid_df = covid_df[covid_df.Continent == 'Australia/Oceania']

# covid_df
# na_covid_df
# sa_covid_df
# asia_covid_df
# europe_covid_df
# africa_covid_df
# aus_covid_df

#### 2009 Global Population Data ####

In [171]:
# Create data frame
population_df = pd.read_csv('data/2009-population-by-country.csv')

# Remove extra column
population_df.drop(columns='Delete', inplace=True)

population_df['Population'] = pd.to_numeric(population_df['Population'], errors='coerce')
# Population column is in millions, so multiply by 1000000
population_df['Population'] = population_df['Population'] * 1000000

#### H1N1 Data ####

In [172]:
# Create data frames
usa_h1n1_df = pd.read_csv('data/usa-swine-flu.csv')
europe_h1n1_df = pd.read_csv('data/europe-swine-flu.csv')
africa_h1n1_df = pd.read_csv('data/africa-swine-flu.csv')
asia_h1n1_df = pd.read_csv('data/asia-swine-flu.csv')
sa_h1n1_df = pd.read_csv('data/south-america-swine-flu.csv')

# Remove unnecessary columns
usa_h1n1_df.drop(columns='State reported hospitalization', inplace=True)

# Calculate totals for U.S.
usa_cases = usa_h1n1_df['State reported confirmed cases'].sum()
usa_deaths = usa_h1n1_df['Confirmed deaths'].sum()
usa_totals = {'State/Territory':'Total',
                           'State reported confirmed cases':usa_cases,
                           'Confirmed deaths':usa_deaths}
usa_h1n1_df = usa_h1n1_df.append(usa_totals, ignore_index=True)
usa_h1n1_df

# Add population column
# usa_h1n1_df.merge(population_df, left_on='Country', right_on='Country')

             State/Territory  State reported confirmed cases  Confirmed deaths
0                    Alabama                            2453                19
1                     Alaska                            1563                13
2                    Arizona                            8726               152
3                   Arkansas                             154                32
4                 California                           10545               657
5                   Colorado                            1321                70
6                Connecticut                            5491                35
7                   Delaware                             381                 7
8       District of Columbia                              54                 1
9                    Florida                            3676               230
10                   Georgia                            1012                81
11                    Hawaii                            2221                13
12                     Idaho                            1171                23
13                  Illinois                            3387               111
14                   Indiana                             782                39
15                      Iowa                             929                41
16                    Kansas                            1201                29
17                  Kentucky                            2092                39
18                 Louisiana                            1876                52
19                     Maine                            2232                21
20                  Maryland                            1772                45
21             Massachusetts                            1979                33
22                  Michigan                             655                88
23                 Minnesota                            2220                61
24               Mississippi                            1292                26
25                  Missouri                            1523                17
26                   Montana                             961                19
27                  Nebraska                             430                15
28                    Nevada                            5516                44
29             New Hampshire                             722                10
30                New Jersey                            1006                42
31                New Mexico                            1007                58
32                  New York                            2738               206
33            North Carolina                             638               107
34              North Dakota                             650                 2
35                      Ohio                             227                52
36                  Oklahoma                             237                44
37                    Oregon                            1833                79
38              Pennsylvania                           10940                78
39              Rhode Island                             203                13
40            South Carolina                            1634                49
41              South Dakota                            2081                23
42                 Tennessee                            1163                57
43                     Texas                            6128               231
44                      Utah                             988                48
45                   Vermont                             404                 3
46                  Virginia                             327                37
47                Washington                            1882                99
48             West Virginia                            1214                22
49                 Wisconsin                            9579                55
50                   Wyoming                             725                10
51            American Samoa                              90                 1
52                      Guam                             338                 2
53  Northern Mariana Islands                              71                 0
54               Puerto Rico                             908                60
55       U.S. Virgin Islands                              80                 1
56                     Total                          115428              3402

#### SARS Data ####